BasedOnStyle: Microsoft

IndentWidth: 4
ColumnLimit: 100   # Usa 80 si quieres estilo clásico o 0 para desactivar
SortIncludes: false

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
  PadOperators: false

AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false

AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false

AllowAllArgumentsOnNextLine: false

