# Config compatible con clang-format 21.1.0

BasedOnStyle: Microsoft

IndentWidth: 4
ColumnLimit: 100   # Usa 80 si quieres estilo clásico o 0 para desactivar
SortIncludes: false

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
  PadOperators: false

AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false

AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false

AllowAllArgumentsOnNextLine: false


BinPackParameters: false      # rompe parámetros en funciones
BinPackArguments: false       # rompe argumentos en llamadas
AllowAllParametersOfDeclarationOnNextLine: false
AlwaysBreakAfterDefinitionReturnType: All
AlwaysBreakAfterReturnType: AllDefinitions
